{{>layout/header}}
<h1>고객정보 수정</h1>

<div class = "col-md-12">
    <div class = "col-md-4">
        <form>
            <div class = "form-group">
                <lable for ="id">고객ID</lable>
                <input type = "text" class = "form-control"
                       id="id" value="{{customer.id}}" readonly>
            </div>
            <div class = "form-group">
                <lable for ="customername">고객명</lable>
                <input type = "text" class = "form-control"
                       id="customername" value="{{customer.customername}}" readonly>
            </div>
            <div class = "form-group">
                <label for ="age">나이</label>
                <input type = "number" class = "form-control" id = "age"
                       value = "{{customer.age}}" >
            </div>
        </form>
        <a href = "/" role ="button" class = "btn btn-secondary">취소</a>
        <button type = "button" class ="btn btn-primary" id = "btn-update">수정완료</button>
        <button type = "button" class ="btn btn-danger" id = "btn-delete">삭제</button>
    </div>
</div>
{{>layout/footer}}