{{>layout/header}}
<h1>서비스정보 등록</h1>

<div class = "col-md-12">
    <div class = "col-md-4">
        <form>
            <div class = "form-group">
                <label for = "svcnum">서비스번호</label>
                <input type = "text" class = "form-control"
                       id = "svcnum" placeholder="서비스번호">
            </div>
            <div class= "form-group">
                <label for ="customerid">고객ID</label>
                <input type = "number" class = "form-control"
                       id = "customerid" placeholder="고객ID">
            </div>
        </form>
        <a href = "/" role="button" class = "btn btn-secondary">취소</a>
        <button type = "button" class="btn btn-primary" id = "btn-save-service">등록</button>
    </div>
</div>
{{>layout/footer}}