{{>layout/header}}
<h1>가입한 상품 정보 검색</h1>
<h6>고객의 가입한 상품 정보를 검색하려면, 서비스ID를 입력하세요.</h6>
<div class = "col-mid-12">
    <div class = "row">
        <div class = "col-md-6">
            <div class = "form-group" >
                <input type = "text" class = "form-control"
                       id = "serviceid" placeholder="서비스ID" style="width:400px; display: inline;" >
                <button type = "button" class ="btn btn-primary" id = "btn-search-subscribe">조회</button>
                <a href = "/" role ="button" class = "btn btn-secondary">홈으로</a>
            </div>
        </div>
    </div>
    <br>
    <!-- 고객정보 목록 출력 영역 -->
    <table class = "table table-horizontal table-bordered">
        <thead class = "thead-strong">
        <tr>
            <th>상품ID</th>
            <th>서비스ID</th>
            <th>서비스번호</th>
            <th>가입시작일자</th>
            <th>가입종료일자</th>
        </tr>
        </thead>
        <tbody id ="tbody">
        {{#subscribeinfo}}
            <tr>
                <td>{{productid}}</td>
                <td>{{serviceid}}</td>
                <td>{{svcnum}}</td>
                <td>{{startdate}}</td>
                <td>{{enddate}}</td>
            </tr>
        {{/subscribeinfo}}
        </tbody>
    </table>
    <br>
</div>
{{>layout/footer}}